<p>customer works!</p>

<h1>{{message}} </h1>


<h1>Interpolation Binding </h1>
<p>Customer Code : {{custObj.CustomerCode}} </p>
<p>Customer name : {{custObj.CustomerName}} </p>
<p>Customer amount : {{custObj.CustomerAmount}} </p>


<h3>One Way Binding (Component/Model to view ) Property Binding [] </h3>
<p> Customer Code : <input type="text" name="CustomerCode" [value]="custObj.CustomerCode"> </p>
<p> Customer Name: <input type="text" name="CustomerName" [value]="custObj.CustomerName"></p>
<p> Customer Amount: <input type="text" name="CustomerAmount" [value]="custObj.CustomerAmount"></p>


 <!-- <h3>One -way Binding (View to Component/Model) - Event Binding- Taking User Input () </h3>
<p> Customer Code : <input type="text" name="CustomerCode" (ngModel)="custObj.CustomerCode=$event.target.value" /> </p>
 <p> Customer Name : <input type="text" name="CustomerName" (input)="custObj.CustomerName=$event.target.value" /> </p>
<p> Customer Amount : <input type="text" name="CustomerAmount" (input)="custObj.CustomerAmount=$event.target.value" /> </p>  --> 


<!-- <h3>Two - way Binding  type-1</h3>
<p> Customer Code : <input type="text" name="CustomerCode"  [value]="custObj.CustomerCode" (input)="custObj.CustomerCode=$event.target.value" /> </p>
<p> Customer Name : <input type="text" name="CustomerName" [value]="custObj.CustomerName" (input)="custObj.CustomerName=$event.target.value" /> </p>
<p> Customer Amount : <input type="text" name="CustomerAmount" [value]="custObj.CustomerAmount" (input)="custObj.CustomerAmount=$event.target.value" /> </p> -->

<h3>Two - way Binding  type-2</h3>
<!-- for ngModel we need to import formModule in appmodule.ts files -->
<p> Customer Code : <input type="text" name="CustomerCode" [(ngModel)]="custObj.CustomerCode"/> </p>
<p> Customer Name : <input type="text" name="CustomerName" [(ngModel)] = "custObj.CustomerName"/> </p>
<p> Customer Amount : <input type="text" name="CustomerAmount" [(ngModel)] = "custObj.CustomerAmount"/> </p>

